<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>XMPP Chat</title>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>" media="screen" title="no title" charset="utf-8">
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
  </head>
  <body>

    <%= render @view_module, @view_template, assigns %>

  </body>
  <script src="<%= static_path(@conn, "/js/phoenix.js") %>"></script>
  <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
</html>
